<nav class="navbar navbar-expand-lg navbar-dark bg-success">

    <img src="https://media.glassdoor.com/sqll/661369/test-yantra-squarelogo-1578577143730.png"
        class="rounded-circle z-depth-0" alt="avatar image" height="45">

    <div class="collapse navbar-collapse" id="navbarText">
       
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="#">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="builderForm">Build New Resume</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="aboutUs">About Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="contactUs">Contact Us</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons">

            <li class="nav-item">
                <a class="nav-link" routerLink="resumePreview">View Your Resume</a>
            </li>
        </ul>
    </div>
</nav>