<div class="alert alert-danger" *ngIf='error'>
    {{error}}
</div>

<div class="alert alert-success" *ngIf='message'>{{message}}
    <span class="float-right">
        <button (click)='deleteMessage()'>&times;</button>
    </span>
</div>


<div class='col-md-3 offset-md-4 mt-4'>
    <form [formGroup]='registerForm' (ngSubmit)='addPersonal(registerForm)'>
        <div class="card">
            <div class="card-header">
                <h4>Add Personal Details</h4>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" id="firstName" formControlName='firstName' class="form-control">
                    <div class="text-danger" *ngIf='firstName.touched && firstName.invalid'>
                        <div *ngIf='firstName.errors.required'>*This field is mandatory</div>
                        <div *ngIf='firstName.errors.pattern'>*First Name can only have alphabets with lenth 3-15</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="middleName">Middle Name</label>
                    <input type="text" name="middleName" id="middleName" formControlName='middleName'
                        class="form-control">
                    <div class="text-danger" *ngIf='middleName.touched && middleName.invalid'>
                        <div *ngIf='middleName.errors.required'>*This field is mandatory</div>
                        <div *ngIf='middleName.errors.pattern'>*Middle Name can only have alphabets with lenth 3-15
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName" formControlName='lastName' class="form-control">
                    <div class="text-danger" *ngIf='lastName.touched && lastName.invalid'>
                        <div *ngIf='lastName.errors.required'>*This field is mandatory</div>
                        <div *ngIf='lastName.errors.pattern'>*Last Name can only have alphabets with lenth 3-15</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="graduationDegree">Graduation Degree</label>
                    <input type="text" name="graduationDegree" id="graduationDegree" formControlName='graduationDegree'
                        class="form-control">
                    <div class="text-danger" *ngIf='graduationDegree.touched && graduationDegree.invalid'>
                        <div *ngIf='graduationDegree.errors.required'>*This field is mandatory</div>
                        <div *ngIf='graduationDegree.errors.pattern'>*Graduation Degree can only have alphabets or
                            dot-symbol or space with lenth 2-15</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="degreeBranch">Branch Name</label>
                    <input type="text" name="degreeBranch" id="degreeBranch" formControlName='degreeBranch'
                        class="form-control">
                    <div class="text-danger" *ngIf='degreeBranch.touched && degreeBranch.invalid'>
                        <div *ngIf='degreeBranch.errors.required'>*This field is mandatory</div>
                        <div *ngIf='degreeBranch.errors.pattern'>*Degree Branch can only have alphabets or splace or
                            dot-symbol with lenth 2-15</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="totalExperience">Total Experience</label>
                    <input type="text" name="totalExperience" id="totalExperience" formControlName='totalExperience'
                        class="form-control">
                    <div class="text-danger" *ngIf='totalExperience.touched && totalExperience.invalid'>
                        <div *ngIf='totalExperience.errors.required'>*This field is mandatory</div>
                        <div *ngIf='totalExperience.errors.pattern'>*Total Experience should be a number between 0 to 50
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="relaventExperience">Relavent Experience</label>
                    <input type="text" name="relaventExperience" id="relaventExperience"
                        formControlName='relaventExperience' class="form-control">
                    <div class="text-danger" *ngIf='relaventExperience.touched && relaventExperience.invalid'>
                        <div *ngIf='relaventExperience.errors.required'>*This field is mandatory</div>
                        <div *ngIf='relaventExperience.errors.pattern'>*Relavent Experience should be a number between 0
                            to 50
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="mobileNumber"> Mobile</label>
                    <input type="text" name="mobileNumber" id="mobileNumber" formControlName='mobileNumber'
                        class="form-control">
                    <div class="text-danger" *ngIf='mobileNumber.touched && mobileNumber.invalid'>
                        <div *ngIf='mobileNumber.errors.required'>*This field is mandatory</div>
                        <div *ngIf='mobileNumber.errors.pattern'>*Mobile should be 10 digits only, stats with 7, 8 or 9
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-outline-primary float-center">Submit Personal Details</button>
            </div>
        </div>
    </form>
</div>




